body {
    background-color: rgb(20, 18, 20);
    font-family: "Noto Sans", sans-serif;
    margin-top: 100px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(12, 11, 12);
}

::-webkit-scrollbar-thumb {
    background: rgb(87, 72, 87);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 77, 95);
}